p {
    color: purple;
}

a {
    color: green;
}

h1 {
    border-style: solid;
    border-width: 4px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-color: orange;
	background-color: #ff9966;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 25px;
	background-color: #ff99ff;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: underline;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
#mainContent {
	margin-left: 150px;
	padding-left: 75px;
	margin-right: 75px;
}


